
.Container-Cima{
    justify-content: space-between;
    height: 20vh;
    display: flex;
    align-items: flex-end;
       
    
}

.Container-Baixo{
    
    text-align: center;
}

.cadastrar{
    margin-right: 30%;
}

.agendamentos{
    margin-left: 30%;
}